@import 'partials/variables';
@import 'partials/keyframes';
@import 'partials/mixins';
@import 'partials/tipografia';
@import 'partials/header';


*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

